<h1>Welcome to Retflix!</h1>

<h2>See our collection of movies below.</h2>

<%= form_tag "/", method: "GET" do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>

<% end %>

<%= render "list" %> 






